{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    <div class="is-flex">
        {% for subject in subjects %}
            <a href="/subject/{{ subject.id }}" class="card is-two-fifths">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ subject.title }}</p>
                        </div>
                    </div>
                    <div class="content">
                        {{ subject.content }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
