{% extends 'base.html.twig' %}

{% block title %}Hello SubjectPageController!{% endblock %}

{% block body %}
    <section class="hero is-medium is-primary">
        <div class="hero-body">
            <p class="title">
                {{ subject.title }}
            </p>
            <p class="subtitle">
                {{ subject.content }}
            </p>
        </div>
    </section>
    {% for comment in comments %}
        <article class="message is-dark block">
            <div class="message-header">
                <p>{{ comment.owner.username }}</p>
            </div>
            <div class="message-body">
                {{ comment.content }}
            </div>
        </article>
    {% endfor %}
{% endblock %}
